.carousel-inner > .item > img, .carousel-inner > .item > a > img{
	width 100%
}
#carrouselInicio{
	box-shadow: #000 -10px -10px 5px -10px
}
.subtitle{
	float: left
	background: rgba(255, 255, 255, 0.75)
	color: black
	text-shadow: none
	padding: 0.3em 1em
	text-align: left
	font-size: 1.4em
}
.carousel{
	width: 100%
}
.carousel-indicators {
	.active{
		background-color:$azulHover
		border-color $azulHover
		box-shadow: #FFF 0px 0px 5px
	}
	li{
		border-radius 0
		background-color #FFF
	}
}
.title{
	float: left
	clear: both
	text-align: left
	background-color: rgba(13, 93, 120, 0.75)
	padding: 0.1em 1.5em
	font-weight: lighter
	text-transform uppercase
}
.carousel-caption{
	font-size: 0.6em
	left 5%
}
.Slider__Noticias__Titulo{
	margin-right: 1em
	margin-left: 0.4em
	align-items: center
	justify-content: flex-start
	position relative
	display: flex
	border-bottom: #7b7b7b solid 1px
	z-index 0
	flex 1
	&:hover{
		border-left-color: lighten($azulPolitica,20)
	}
	&.active{
	}
}
.Slider__Noticias__Titulos
	box-shadow: 4px -4px 10px -2px
	cursor pointer
.carousel-control.right,.carousel-control.left
	background none
.carousel-control
	span
		&.glyphicon
			&.glyphicon-menu-right,&.glyphicon-menu-left
				position: absolute
				top: 50%
				font-size: 0.8em
				background: white
				padding: 0.3em
				border-radius: 50%

div#innerSlider
	position: relative
	& > .carousel-indicators
		position: absolute
		left: 0
		bottom: 0
		margin: 0
		width: 100%
		padding: 5px

.active
	& > .Slider__Noticias__Titulo__Intenro
		border-left: solid $azulPolitica 5px

.Slider__Noticias__Titulo__Intenro
	display: flex
	padding: 1em 0 1em 1em



@media screen and (min-width: 768px){
	.carousel-caption{
		left 5%
		font-size: 0.8em
	}
	.carousel-control{
		span{
			&.glyphicon{
				&.glyphicon-menu-right,&.glyphicon-menu-left{
					font-size: 1.2em
				}
			}
		}
	}
}
