.Docente
	margin-bottom: 1em
.Docente__Cargo
	margin: -10px 0 10px 0
	color: #6e6e6e
	text-transform: uppercase
	width: 100%
	clear: both

.Docentes__Contenedor {
    margin-top: 1em;
}
.Docente__imagen
	border:#eee solid 1px
	padding	0
	img
		width 100%
.Docente__Elemento
	position relative
	margin-bottom 1em
	background:$grayCategory
	padding 0
.Docente__Boton
	position absolute
	right 10px
	bottom 10px
li.estudio
	list-style: none;
	text-align:justify;
	text-indent:-10px;
	&:before
		content:'- '
