.Docentes__Contenedor {
    margin-top: 1em;
}
.Docente__imagen
	padding	0
	img
		width 100%
.Docente
	margin-bottom: 1em;
.Docente__Elemento
	margin-bottom 1em
	background:$grayCategory
	padding 0
li.estudio
	list-style: none;
	text-align:justify;
	text-indent:-10px;
	&:before
		content:'- '
