.Estudios__Imagen {
    position: relative;
}
.Estudios__Subtitulo {
    margin:1.5em 0;
    text-align:justify;
    position: relative;
}
.Estudio__Resumen {
    display: flex;
    flex: 7;
}

.Estudio__Encabezado {
    flex: 3;
}
.Estudios__Titulo {
    position: absolute;
    top: 50%;
    margin-left: 1em;
    color: white;
    background: $azulConTransparencia
    padding: 0.2em;
    font-size: 2.3em;
    font-weight: bolder;
    letter-spacing: 0.3em;
    font-style: italic;
}
.Estudio__Contenedor {
    display: flex;
    width: 100%;
}
