.TituloDePagina
	color $azulHover
.bottomSpace
	margin-bottom 1em
.inner-container
	margin-top 1em
.Flex{
	display:flex
}
.Flex--1{
	flex 1
}
.Flex--column{
	flex-direction column
}
.Flex__content
	margin-top: 2em
.mb1
	margin-bottom 1em
.footer
	background $azulPolitica
	color #FFF
	padding: 2em
	font-size: 0.8em
	margin-top: 2em
	a
		color #FFF
a
	color $azulHover;
	&:hover,&:active,&:focus
		color lighten($azulHover,10)
		text-decoration none
.pagination
	margin: 3em 0

a
	&.next,&.prev
		&.page-numbers
			background: $grayPaginate
			color: white
			border-radius: 90%
			padding: 10px

.page-numbers
	color: $grayPaginate
	margin: 0 0.5em
	&.current
		color: #FFF
		background: $azulHover
		padding: 2px
.text-politica {
    color:$azulHover ;
}
.logo
	display: flex
	flex: 8

.FlexHeader
	display: flex

.socials
	display: flex
	flex: 4
	align-items: center
	justify-content: flex-end

.FacebookLink
	display: flex
	color: white
	background: $azulPolitica
	border-radius: 50%
	width: 40px
	height: 40px
	align-items: center
	justify-content: center
	font-size: 1.4em
	a
		color #FFF
.FaceFooter
	background #FFF
	a
		color $azulPolitica
		
.EnviarEmail
	margin: 1em




