.Publicacion
	margin-bottom 2em
.Publicaciones__Container
	margin 1em 0
.Publicaciones__Internos
	margin-top 1em
.Publicacion
	margin: 0 0 1em 0
.Publicacion__imagen
	img
		width 100%
		height auto
.Publicaciones__Internos__Categorias__Lista
	background: $grayCategory
	padding-bottom: 1em
	& > ul
		list-style: none
		text-transform: uppercase
		& > li
			padding: 1em 0
			& > a
				color: #000
				&:hover
					text-decoration: none
					border-bottom: solid $azulHover 3px

.Publicaciones__Internos__Categorias__Titulo
	background: $azulHover
	text-transform: uppercase
	color: white
	padding: 0.5em

.Publicaciones__Internos__Categorias
	margin: 1em 0
.Publicacion__Elemento
	background: $grisPublicacion
	color:$azulHover
.btn-Publicacion
	color: #fff
	font-weight 100
	border-radius: 0
	margin-top: 1em
	background-color: $azulHover
	border-color: $azulHover
	a
		color: #FFF
		&:hover,&:active
			text-decoration none
.Publicacion__botonLeerMas
	margin: 0 1em 1em 0
	padding: 0.5em 1.5em

.Publicacion__resumen
	height: 70px
	margin: 0 0 0 1em
	padding: 0.5em
	overflow hidden
	font-weight 100
.Publicacion__titulo
	text-transform: uppercase
	font-size: 1.3em
	text-align: left
	padding:0.5em 0.5em 0 0.5em
	border-bottom: solid 1px #000
	display: inline-block
	width: 100%
	font-weight: 600
	
	& > .fecha
		font-weight: 100
		color:#000
		float: right


