.Subscription
	background: $grisPublicacion
	padding: 13px
	margin-bottom 1em
.Subscription__container
	display: flex
	border: solid $grisSubscripcion 1px
	padding 20px 10px
	align-items: center

.Subscription__Title
	text-align: center
	color: $grisSubscripcion
	text-transform uppercase

.Subscription__Form
	width: 370px
	& > form>input[type="submit"]
		height: 30px
		background: $menuAbajoShow
		color: #FFF
		border: none
		font-weight: 100
		width: 40%
		padding: 0 1em
		text-transform: uppercase
		text-align: center
	& >form> input#email
		background: darken($grisPublicacion,10)
		border: none
		height: 30px
		width: 60%
		float: left



