.widget_subscripcion
	padding 0
.Subscription
	background: $grisPublicacion
	margin-bottom 1em
.Subscription__container
	display: flex
	padding 1em
	align-items: baseline
	flex-direction column

.Subscription__Title
	text-align: center
	font-size 1.5em
	font-weight lighter
	color: $grisSubscripcion

.Subscription__SubTitle
	a
		color: $grisSubscripcion
	&:hover
		color ligthen($grisSubscripcion)
.Subscription__Socials
	display flex
	margin-top 1.5em
	a
		background $grisSubscripcion
		color #FFF
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		margin: 0.5em;
		display: flex;
		flex-direction: column;

		&:hover
			color $grisSubscripcion
			background #FFF

.Subscription__Form
	width: 370px
	& > form>input[type="submit"]
		height: 30px
		background: $menuAbajoShow
		color: #FFF
		border: none
		font-weight: 100
		width: 40%
		padding: 0 1em
		text-transform: uppercase
		text-align: center
	& >form> input#email
		background: darken($grisPublicacion,10)
		border: none
		height: 30px
		width: 60%
		float: left



