.navbar{
z-index 1}
.TopNav
	background #eee;
	display: flex;
	border-bottom: solid #C5C5C5 1px
	justify-content: flex-end;
.TopNav__List
	list-style: none
	display: flex;
	margin: 0;

.TopNav__Item
	list-style: none
	margin:0;
	padding: 0;
	margin: 5px 0;
	border-right: solid #6e6e6e 1px;
	&:first-child{
		border-left: solid #6e6e6e 1px;
	}
	&:last-child{
		// margin-right: 3px;
	}
	a
		color: #6e6e6e
		font-size: 0.8em;
		padding: 0 10px;
		font-weight lighter;
		text-transform uppercase;

