.Widget__Calendario__Titulo
	display: flex
	background: $azulActive
	color: #fff
	text-transform: uppercase
	padding: .5em 1.4em
	margin-bottom: 0.5em
.WC__SL__Control
	height 70%
	opacity 0.8
.WC__SL__Control__Right
	span
		right:5px
.WC__SL__Control__Left
	span
		left:5px
.WC__SL__carousel-caption__Title
	text-transform:uppercase;
span
	&.WC__SL__Fecha
		font-weight: 700


.WC__SL__carousel-caption__Title,.WC__SL__carousel-caption__Subtitle
	background $azulActive
	padding: 10px
	font-weight: 100
	color #FFF
	a
		color #FFF
		display flex
		align-items: center
		justify-content: space-between
		border-bottom: 1px solid white
		padding-bottom: 5px