* {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.TopNav {
  background: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.TopNav__List {
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-right: 50px;
}
.TopNav__Item {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 5px 0;
  border-right: solid #6e6e6e 1px;
}
.TopNav__Item:first-child {
  border-left: solid #6e6e6e 1px;
}
.TopNav__Item a {
  color: #6e6e6e;
  font-size: 0.7em;
  padding: 0 10px;
  font-weight: lighter;
  text-transform: uppercase;
}
.Flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.Flex--1 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.Flex--column {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.logo {
  margin: 5px 0;
}
.navbar {
  margin-bottom: 0;
}
.navbar-politica {
  background-color: #32428b;
  border-color: #253065;
  border-radius: 0;
}
.navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #253065;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background: transparent;
  color: #fff;
}
.dropdown-menu {
  background: rgba(0,0,0,0.8);
  padding: 0;
  margin: 0;
  border-radius: 0;
}
.No-Margin-Padding {
  margin: 0;
  padding: 0;
}
.dropdown-menu>li:hover {
  background: #005676;
}
li.dropdown-submenu {
  padding: 5px 0;
  border-bottom: 1px solid #000;
}
li.dropdown-submenu:hover {
  background: #005676;
}
.dropdown-menu > li > a {
  color: #fff;
}
.caret,
transform:rotate(-90deg),
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:active>.dropdown-menu,
.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}
.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:active>a:after {
  border-left-color: #fff;
}
#menu-main-menu >.navbar-form > .form-group > label {
  color: #fff;
  text-transform: uppercase;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  border-radius: 6px 0 6px 6px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
}
.subtitle {
  float: left;
  background: rgba(255,255,255,0.75);
  color: #000;
  text-shadow: none;
  padding: 0.3em 1em;
}
.carousel {
  width: 100%;
}
.carousel-indicators .active {
  background-color: #005676;
  border-color: #005676;
}
.carousel-indicators li {
  border-radius: 0;
  background-color: #fff;
}
.title {
  float: left;
  clear: both;
  text-align: left;
  background-color: rgba(13,93,120,0.75);
  padding: 0.1em 1.5em;
  font-weight: lighter;
}
.carousel-caption {
  font-size: 0.6em;
}
@media screen and (min-width: 768px) {
  .carousel-caption {
    left: 15%;
    font-size: 1em;
  }
}

/*# sourceMappingURL=app.css.map */
