*{
	font-family "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}
@import 'components/WpCore'
@import 'Variables/variables'
@import 'components/TopNav'
@import 'components/General'
@import 'components/Logo'
@import 'components/MainMenu'
@import 'components/Carousel'
@import 'components/NoticiasHome'
@import 'components/NoticiasInternas'
@import 'components/EventosInternos'
@import 'components/Widgets'