*{
	font-family "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}
@import 'components/WpCore'
@import 'Variables/variables'
@import 'components/TopNav'
@import 'components/General'
@import 'components/Logo'
@import 'components/MainMenu'
@import 'components/MenuInferior'
@import 'components/Carousel'
@import 'components/NoticiasHome'
@import 'components/NoticiasInternas'
@import 'components/EventosInternos'
@import 'components/WidgetEventos'
@import 'components/Publicaciones'
@import 'components/Estudios'
@import 'components/DocentesInternos'
@import 'components/Widgets'
@import 'components/ContactForm'
@import 'components/CalendarZp'
@import 'components/Direccion'
