*{
	font-family "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}
@import 'Variables/variables'
@import 'components/TopNav'
@import 'components/General'
@import 'components/Logo'
@import 'components/MainMenu'
@import 'components/Carousel'